body {
    font-family: 'Lato', sans-serif;
    /* text-transform: capitalize; */
    font-weight: 300;
}

.left-side-profile {
    background-color: #4ead62;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    color: #ffffff;
}

.right-side-profile {
    background-color: #ffffff;
    height: 100vh;
    margin: 0 auto;
    overflow-y: scroll;
}

.profile-detail {
    flex: 1;
}

.img-profile {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.line-break {
    width: 400px;
    border-width: 4px;
    border-color: #ffffff;
}

.social-btn {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 10px;
    padding-left: 0px;
}

.social-btn li {
    display: inline-block;
    padding: 10px;
}

.social-btn li a {
    color: #ffffff;
}

.about-section {
    margin: 150px 50px 0px;
    font-size: 20px;
}

.project-section {
    margin: 20px 50px 0px;
    font-size: 20px;
}